body{
    background:url(https://images.unsplash.com/photo-1681121311532-e4882571a74e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    background-repeat:no-repeat;
    background-size:cover;
}
.container .jumbotron{
    margin-top: 10px;
}